<ion-content class="background">
  <button ion-button full (click)="goToMedicHistory()" *ngIf="comun.idPaciente" >Ver el historial médico del paciente</button>

  <div *ngIf="comun.idPaciente">
    <div class="subtitle">
      Historial de movimiento
    </div>
    <div style="display: block">
      <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
        [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>

  <div *ngIf="!comun.idPaciente" class="emptySpace">
    No tiene ningun usuario con eventos en este momento
  </div>

</ion-content>
